body {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background: #323232;
    border: 3px solid bisque;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: crimson;
}

.windowsList {
    width: 500px;
}

.windowEl {
    font-size: 14px;
    font-weight: bold;
}

.activeWindow {
    color: green;
}

.currentTabs {
    margin-left: 20px;
    width: inherit;
    color: #323232;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.currentTabs input {
    width: 90%;
    background-color: transparent;
    margin: 2px;
}

.currentTabs input:focus {
    outline: none;
}

.tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid crimson;
}

.tab:hover, .activeTab:hover {
    color: crimson;
}

.tab span {
    overflow-wrap: break-word;
    cursor: pointer;
}

.tab img {
    cursor: pointer;
}

.activeTab {
    color: green
}

.editIcon {
    width: 12px;
    height: 12px;
}