body {
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

::-webkit-scrollbar {
	width: 15px;
}

::-webkit-scrollbar-thumb {
	background: #323232;
    border: 3px solid bisque;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: crimson;
}

#root {
    width: 500px;
}

.options, .backup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.backup {
    justify-content: start;
    gap: 10px;
}

.totalTabs {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: stretch;
}

.search {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.searchInput {
    width: 99%;
}

.list {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.window, .searchEl {
    font-size: 15px;
    font-weight: bold;
    cursor: default;
}

.windowTitle {
    display: flex;
    align-items: center;
    gap: 10px;
}

.title {
    cursor: pointer;
}

.icons {
    display: flex;
    gap: 10px;
}

.active {
    color: green;
}

.currentTabs, .searchedTabs {
    margin-left: 20px;
    width: inherit;
    color: #323232;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 5px;
}

.currentTabs input {
    width: 90%;
    background-color: transparent;
    margin: 2px;
}

.currentTabs input:focus {
    outline: none;
}

.tab {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-bottom: 1px solid crimson;
}

.title:hover, .tab:hover, .active:hover, .activeTab:hover {
    color: crimson;
}

.tab span {
    display: flex;
    align-items: center;
    width: 90%;
    height: 30px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.tab input {
    width: 84%;
}

.activeTab {
    color: green
}

.icon {
    margin-top: 2px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.favicon {
    width: 16px;
    height: 16px;
}

.checkTab {
    width: 3% !important;
}

.deletedWindows a {
    color: crimson;
    font-weight: bold;
    text-decoration: none;
}

.deletedWindows > .top-nav {
    margin-bottom: 10px;
    width: 99%;
    display: flex;
    justify-content: space-between;
}

.deletedWindows > .list > h3 {
    text-align: center;
}